@import './../../styles/variables';

@mixin terminalContent($color, $beforeColor) {
  span {
    color: lighten($color, 20%);
  }

  &::before {
    color: $beforeColor;
    content: '$';
  }
}

/* RED */

.terminalContentDarkRed {
  @include terminalContent($red, $darkGray);
}

.terminalContentRed {
  @include terminalContent($red, $darkerGray);
}

/*  GREEN */

.terminalContentDarkGreen {
  @include terminalContent($green, $darkGray);
}

.terminalContentGreen {
  @include terminalContent($green, $darkerGray);
}

/* YELLOW */

.terminalContentDarkYellow {
  @include terminalContent($yellow, $darkGray);
}

.terminalContentYellow {
  @include terminalContent($yellow, $darkerGray);
}

/* PURPLE */

.terminalContentDarkPurple {
  @include terminalContent($purple, $darkGray);
}

.terminalContentPurple {
  @include terminalContent($purple, $darkerGray);
}

/* BLUE */

.terminalContentDarkBlue {
  @include terminalContent($blue, $darkGray);
}

.terminalContentBlue {
  @include terminalContent($blue, $darkerGray);
}
