@import './../../styles/variables';

%btn-base {
  border-radius: 3px;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;

  &:not(:last-child) {
    margin-right: 1px;
  }
}

@mixin getButton($hoverBackgroundColor, $hoverColor) {
  color: $darkGray2;

  @extend %btn-base;

  &:hover {
    background-color: $hoverBackgroundColor;
    color: $hoverColor;
    cursor: pointer;
  }
}

.btn {
  @include getButton($lightGray2, $darkerGray3);
}

.btnDark {
  @include getButton($darkerGray3, $lightGray2);
}
