$purple: #b137f8;
$yellow: #ffa600;
$green: #1ca51c;
$blue: #0061e0;
$red: #e43500;
$lightGray: #dddddd;
$lighterGray: #fafafa;
$darkGray: #949494;
$darkerGray: #474747;
$black: #313131;
$white: #fff;
$darkGray2: #8d8c8c;
$darkerGray3: #636363;
$lightGray2: #e4e4e4;
