@import './../../styles/variables';

@mixin terminal($backgroundColor, $color) {
  border-radius: 5px;
  padding: 0.5rem 1rem 1rem;
  background-color: $backgroundColor;
  font-family: 'Roboto Mono', monospace;
  color: $color;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  margin: 1rem 0;
}

.terminal {
  @include terminal($white, $black);
}

.terminalDark {
  @include terminal($black, $lighterGray);
}
