@import './../../styles/variables';

.terminal {
  border-radius: 5px;
  padding: 0.5rem 1rem 1rem;
  background-color: $white;
  font-family: 'Roboto Mono', monospace;
  color: $black;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

.terminalDark {
  border-radius: 5px;
  padding: 0.5rem 1rem 1rem;
  background-color: $black;
  font-family: 'Roboto Mono', monospace;
  color: $lighterGray;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}
