@import './../../styles/variables';

@mixin terminal($backgroundColor, $color, $borderColor) {
  border-radius: 5px;
  padding: 0.5rem 1rem 1rem;
  background-color: $backgroundColor;
  font-family: 'Roboto Mono', monospace;
  border: 1px solid $borderColor;
  color: $color;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  margin: 1rem 0;
}

.terminal {
  @include terminal($white, $black, $lightGray);
}

.terminalDark {
  @include terminal($black, $lighterGray, $black);
}
